{% extends 'base.html.twig' %}

{% block title %}Edit CarteBancaire{% endblock %}

{% block body %}
    <h1>Edit CarteBancaire</h1>

    {{ include('carte_bancaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carte_bancaire_index') }}">back to list</a>

    {{ include('carte_bancaire/_delete_form.html.twig') }}
{% endblock %}
