{% extends 'base.html.twig' %}

{% block title %}New CarteBancaire{% endblock %}

{% block body %}
    <h1>Create new CarteBancaire</h1>

    {{ include('carte_bancaire/_form.html.twig') }}

    <a href="{{ path('carte_bancaire_index') }}">back to list</a>
{% endblock %}
